@import "bootstrap/dist/css/bootstrap.min.css";

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.container {
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.homelogin {
  position: absolute;
  top: 76%;
  left: 9%;
  transform: translate(-50%, -50%);
  padding: 10px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.homesignup {
  position: absolute;
  top: 76%;
  left: 15%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.loginbutton {
  position: absolute;
  top: 108%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 155px;
  background-color: #95989b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.signupbutton {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 150px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.logincancel {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 145px;
  background-color: #95989b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.loginlogin {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 150px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.homelogin:hover {
  background-color: #0056b3;
}
.homesignup:hover {
  background-color: #0056b3;
}
.loginlogin:hover {
  background-color: #0056b3;
}
.logincancel:hover {
  background-color: #787b7c;
}
.signupsignupbutton:hover {
  background-color: #0056b3;
}
.signuploginbutton:hover {
  background-color: #787b7c;
}
.singupname {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 80px;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}
.signuplastname {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 80px;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-decoration: none;

}
.signupemail {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 80px;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-decoration: none;

}
.signuppassword {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 80px;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-decoration: none;

}
.signupsignupbutton {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 145px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.signuploginbutton {
  position: absolute;
  top: 107%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 151px;
  background-color: #95989b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.loginemail {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 80px;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

.loginpassword {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 80px;
  background-color: white;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}